# KoreanCity DAO를 이용한 DB Access

In [1]:
import koreancity_dao as kcd
import pandas as pd

- R: Read/Retrieve

In [2]:
city = kcd.find_by_name('Seoul')
city

(2331, 'Seoul', 'Seoul', 9981619)

In [3]:
city = kcd.find_by_id(2332)
city

(2332, 'Pusan', 'Pusan', 3804522)

In [6]:
city_list = kcd.find_list_by_district('강원')
for city in city_list:
    print(city)

(2363, '원주', '강원', 237460)
(2365, '춘천', '강원', 234528)
(2367, '강릉', '강원', 220403)
(2399, '동해', '강원', 95472)
(2405, '횡성', '강원', 171234)
(2406, '삼척', '강원', 101234)
(2407, '속초', '강원', 191234)

In [7]:
df = pd.DataFrame(city_list, columns=['id', '도시명', '도', '인구수'])
df.set_index('id', inplace=True)
df

     도시명   도     인구수
id
2363  원주  강원  237460
2365  춘천  강원  234528
2367  강릉  강원  220403
2399  동해  강원   95472
2405  횡성  강원  171234
2406  삼척  강원  101234
2407  속초  강원  191234

- C: Create

In [8]:
city = ('도시명', '도', 300000)
kcd.insert_city(city)
city = kcd.find_by_name('도시명')
city

(2412, '도시명', '도', 300000)

- U: Update

In [10]:
city = ('수정된도시명', '수정된도', 300300, 2412)
kcd.update_city(city)
city = kcd.find_by_id(2412)
city

(2412, '수정된도시명', '수정된도', 300300)

In [12]:
city = kcd.find_by_id(2412)
params = (city[1], city[2], city[3]+7, city[0])
kcd.update_city(params)
city = kcd.find_by_id(2412)
city

(2412, '수정된도시명', '수정된도', 300307)

- D: Delete

In [13]:
kcd.delete_city(2412)