# Kpop DAO를 이용한 DB Access

In [1]:
import kpop_dao as kdao
import pandas as pd

- Song List

In [3]:
songs = kdao.get_song_list(10, 5)
songs

[(106, '기대해', '기대해'),
 (107, 'I Dont care', '다른 여자들의 다리를'),
 (108, 'Bad Girl Good Girl', '앞에선 한 마디 말도'),
 (109, '피노키오', '뉴예삐오'),
 (110, '별빛달빛', '너는 내 별빛 내 마음의 별빛'),
 (111, 'A', 'A 워오우 워오우워 우우우'),
 (112, '나혼자', '나 혼자 밥을 먹고 나 혼자 영화 보고'),
 (113, 'LUV', '설레이나요 '),
 (114, '짧은치마', '짧은 치마를 입고 내가 길을 걸으면'),
 (115, '위아래', '위 아래 위위 아래')]

In [3]:
df = pd.DataFrame(songs, columns=['id', '제목', '가사'])
df.set_index('id', inplace=True)
df

                     제목                     가사
id
106                 기대해                    기대해
107         I Dont care            다른 여자들의 다리를
108  Bad Girl Good Girl            앞에선 한 마디 말도
109                피노키오                   뉴예삐오
110                별빛달빛       너는 내 별빛 내 마음의 별빛
111                   A         A 워오우 워오우워 우우우
112                 나혼자  나 혼자 밥을 먹고 나 혼자 영화 보고
113                 LUV                 설레이나요
114                짧은치마    짧은 치마를 입고 내가 길을 걸으면
115                 위아래             위 아래 위위 아래

- Girl group

In [4]:
gg_list = kdao.get_girl_group_list()
gg_list

[(1001, '원더걸스', datetime.date(2007, 2, 10), 101),
 (1002, '소녀시대', datetime.date(2007, 8, 2), 102),
 (1003, '카라', datetime.date(2009, 7, 30), 103),
 (1004, '브라운아이드걸스', datetime.date(2008, 1, 17), 104),
 (1005, '다비치', datetime.date(2009, 2, 27), 105),
 (1006, '2NE1', datetime.date(2009, 7, 8), 106),
 (1007, 'f(x)', datetime.date(2011, 4, 20), 108),
 (1008, '시크릿', datetime.date(2011, 1, 6), 109),
 (1009, '레인보우', datetime.date(2010, 8, 12), 110),
 (1010, '애프터 스쿨', datetime.date(2009, 11, 25), 120),
 (1011, '포미닛', datetime.date(2009, 8, 28), 121),
 (1012, '뉴진스', datetime.date(2022, 8, 1), 130)]

In [5]:
df = pd.DataFrame(gg_list, columns=['id', '이름', '데뷔일자', 'hit_song_id'])
df.set_index('id', inplace=True)
df

            이름        데뷔일자  hit_song_id
id
1001      원더걸스  2007-02-10          101
1002      소녀시대  2007-08-02          102
1003        카라  2009-07-30          103
1004  브라운아이드걸스  2008-01-17          104
1005       다비치  2009-02-27          105
1006      2NE1  2009-07-08          106
1007      f(x)  2011-04-20          108
1008       시크릿  2011-01-06          109
1009      레인보우  2010-08-12          110
1010    애프터 스쿨  2009-11-25          120
1011       포미닛  2009-08-28          121
1012       뉴진스  2022-08-01          130

In [6]:
gg_list = kdao.get_girl_group_list_with_song()
df = pd.DataFrame(gg_list, columns=['id', '이름', '데뷔일자', '히트곡'])
df.set_index('id', inplace=True)
df

            이름        데뷔일자                 히트곡
id
1001      원더걸스  2007-02-10             Tell Me
1002      소녀시대  2007-08-02                 Gee
1003        카라  2009-07-30                 미스터
1004  브라운아이드걸스  2008-01-17         Abracadabra
1005       다비치  2009-02-27                8282
1006      2NE1  2009-07-08                 기대해
1007      f(x)  2011-04-20  Bad Girl Good Girl
1008       시크릿  2011-01-06                피노키오
1009      레인보우  2010-08-12                별빛달빛
1010    애프터 스쿨  2009-11-25                  디바
1011       포미닛  2009-08-28                 핫이슈

- 데뷔년도에 따른 걸그룹의 힛트송

In [7]:
gg_list = kdao.get_song_list_by_debut(2009)
gg_list

[('카라', datetime.date(2009, 7, 30), '미스터'),
 ('다비치', datetime.date(2009, 2, 27), '8282'),
 ('2NE1', datetime.date(2009, 7, 8), '기대해'),
 ('애프터 스쿨', datetime.date(2009, 11, 25), '디바'),
 ('포미닛', datetime.date(2009, 8, 28), '핫이슈')]

In [8]:
df = pd.DataFrame(gg_list, columns=['이름', '데뷔일자', '히트곡'])
df

       이름        데뷔일자   히트곡
0      카라  2009-07-30   미스터
1     다비치  2009-02-27  8282
2    2NE1  2009-07-08   기대해
3  애프터 스쿨  2009-11-25    디바
4     포미닛  2009-08-28   핫이슈

- 노래 추가

In [11]:
params = (121, '핫이슈', '머리부터 발끝까지 핫이슈')
kdao.insert_song(params)
songs = kdao.get_song_list(10, 10)
songs

[(111, 'A', 'A 워오우 워오우워 우우우'),
 (112, '나혼자', '나 혼자 밥을 먹고 나 혼자 영화 보고'),
 (113, 'LUV', '설레이나요 '),
 (114, '짧은치마', '짧은 치마를 입고 내가 길을 걸으면'),
 (115, '위아래', '위 아래 위위 아래'),
 (116, 'Dumb Dumb', '너 땜에 하루종일'),
 (120, '디바', '오늘 밤 매일 밤 자꾸만 네 생각만'),
 (121, '핫이슈', '머리부터 발끝까지 핫이슈')]

- 걸그룹 추가

In [12]:
params = ('뉴진스', '2022-08-01', 130)
kdao.insert_girl_group(params)
gg_list = kdao.get_girl_group_list()
gg_list

[(1001, '원더걸스', datetime.date(2007, 2, 10), 101),
 (1002, '소녀시대', datetime.date(2007, 8, 2), 102),
 (1003, '카라', datetime.date(2009, 7, 30), 103),
 (1004, '브라운아이드걸스', datetime.date(2008, 1, 17), 104),
 (1005, '다비치', datetime.date(2009, 2, 27), 105),
 (1006, '2NE1', datetime.date(2009, 7, 8), 106),
 (1007, 'f(x)', datetime.date(2011, 4, 20), 108),
 (1008, '시크릿', datetime.date(2011, 1, 6), 109),
 (1009, '레인보우', datetime.date(2010, 8, 12), 110),
 (1010, '애프터 스쿨', datetime.date(2009, 11, 25), 120),
 (1011, '포미닛', datetime.date(2009, 8, 28), 121),
 (1012, '뉴진스', datetime.date(2022, 8, 1), 130)]

- 개별 곡, 걸그룹

In [9]:
song = kdao.get_song(105)
song

(105, '8282', 'Give me a call Baby baby')

In [10]:
gg = kdao.get_girl_group(1004)
gg

(1004, '브라운아이드걸스', datetime.date(2008, 1, 17), 104)